<!DOCTYPE html>
<html>
    <head>
        <title>Curso e Disciplinas</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <a href="/">Voltar</a>

        <h1> <%= titulo %> </h1>
        <p> Preencha os dados abaixo e clique em salvar </p>

        <form action="<%=acao%>" method="post">
            <table>
                <tr>
                    <td> Codigo </td>
                    <td><input name="edtCodigo"></td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td><input name="edtNome"></td>
                </tr>
                <tr>
                    <td>Curso</td>
                    <td>
                        <select name="selCurso">
                            <option value="1">Engenharia de software</option>
                            <option value="2">Engenharia da computaçao</option>
                            <option value="3">Engenharia mecanica</option>
                            <option value="4">Arquitetura</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <a href="/">Cancelar</a> </td>
                    <td> <input type="submit" value="salvar"> </td>
                </tr>
            </table>
        </form>
    </body>
</html>
