<!DOCTYPE html>
<html>
  <head>
    <title>CRUD de Livros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Preencha os dados abaixo e clique em Salvar o nova disciplina.</p>
    <form action="<%= action %>" method="POST">
      <table>
        <tr>
          <td>Nome</td>
          <td><input type="text" name="edtNome" value="<%= registro.disnome %>" /></td>
        </tr>
        <tr>
          <td>Gênero</td>
          <td><select name="curCodigo">
                <option value="1" <% if(registro.curcodigo == 1) { %> selected <% } %> >Engenharia de software</option>
                <option value="2" <% if(registro.curcodigo == 2) { %> selected <% } %> >Engenharia da computação</option>
                <option value="3" <% if(registro.curcodigo == 3) { %> selected <% } %> >Engenharia mecanica</option>
                <option value="4" <% if(registro.curcodigo == 4) { %> selected <% } %> >Arquitetura</option>
                </select></td>
        </tr>
        <tr>
          <td><a href="/">Cancelar</a></td>
          <td><input type="submit" value="Salvar" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>

